<div class="container">
  <form id="add_url" action="/urls" method="post">
    <label for="url">Enter a link!</label>
    <input type="text" name="long" placeholder="LINK ME!!1">
    <input type="submit" value="SUBMITTT!!!!1one">
  </form>
</div>
